// @import-only
// Colors
$strays-color: #a03982;
$strays-white: #f5f5f5;
$strays-black: #1f1f1f;
$strays-secondary-color: #c646a1;
$strays-color-blue: #503eb6;
$strays-color-blue-light:#604bdc;
$alert-color: #F64740;
$alert-color-light: #ff5642;
$excel-color: #0a9b53;
$excel-color-light: #0cc167;
$neutral-gray: #898989;
$neutral-gray-light: #afafaf;
$border-gray: #dee2e6;
$strays-white-t: #f5f5f559;


// Fonts
$body-font: 'Roboto', sans-serif;
$title-font: 'Gabarito', sans-serif;
$fancy-font: 'Merriweather Sans', sans-serif;
$bold-font: 'Bebas Neue', sans-serif;
$body-font-2: 'Poppins', sans-serif;
