.gradient-background {
    background: linear-gradient(293deg, #4d46c6, #630e4b);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 26s ease infinite;
    -moz-animation: AnimationName 26s ease infinite;
    animation: AnimationName 26s ease infinite;
}